.itemImage {
    width: 90%;
    height: 60%;
    margin: 6% auto 2% auto;
}

.itemDescription {
    width: 80%;
    margin: 4% auto 2% auto;
    font-size: 20px;
}

.collection-item {
    border: 1px solid;
    padding: 1em;
}

.collection-item-wrapper {
    padding: 1em;
}
